XClock.Clock.hourColor:		#FFFFFF
XClock.Clock.minuteColor:	#F0F3F4
XClock.Clock.majorColor:	#BAC2DE
XClock.Clock.minorColor:	#FFFFFF

XLogo*foreground:           #35A854
XLogo*background:           gray8

Xcursor.theme:              XCursor-Pro-Light
Xcursor.size: 48

XCalc*ti.backgroundPixmap:		gray3?foreground=gray70&background=darkseagreen4
xcalc.ti.bevel.background: #3f3f3f
xcalc.ti.bevel.borderColor: #3f3f3f
xcalc.ti.bevel.screen*background: #525252
xcalc.ti.bevel.screen*foreground: #ffffff
xcalc.ti.bevel.screen.LCD.shadowWidth: 1
xcalc.ti.bevel.screen.LCD.topShadowContrast: -25
xcalc.ti.bevel.screen.LCD.bottomShadowContrast: -25
xcalc.ti.button1*background: #525252
xcalc.ti.button1*foreground: #d3d3d3
xcalc.ti.button2*background: #525252
xcalc.ti.button2*foreground: #d3d3d3
xcalc.ti.button3*background: #525252
xcalc.ti.button3*foreground: #d3d3d3
xcalc.ti.button4*background: #5EB9C2
xcalc.ti.button5*background: #5EB9C2
xcalc.ti.button6*background: #1f1f1f
xcalc.ti.button6*foreground: #ffffff
xcalc.ti.button7*background: #1f1f1f
xcalc.ti.button7*foreground: #ffffff
xcalc.ti.button8*background: #1f1f1f
xcalc.ti.button8*foreground: #ffffff
xcalc.ti.button9*background: #1f1f1f
xcalc.ti.button9*foreground: #ffffff
xcalc.ti.button10*background: #2d2d2d
xcalc.ti.button10*foreground: #ffffff
xcalc.ti.button11*background: #2d2d2d
xcalc.ti.button11*foreground: #ffffff
xcalc.ti.button12*background: #2d2d2d
xcalc.ti.button12*foreground: #ffffff
xcalc.ti.button13*background: #1f1f1f
xcalc.ti.button13*foreground: #ffffff
xcalc.ti.button14*background: #1f1f1f
xcalc.ti.button14*foreground: #ffffff
xcalc.ti.button15*background: #1f1f1f
xcalc.ti.button15*foreground: #ffffff
xcalc.ti.button16*background: #2d2d2d
xcalc.ti.button16*foreground: #ffffff
xcalc.ti.button17*background: #2d2d2d
xcalc.ti.button17*foreground: #ffffff
xcalc.ti.button18*background: #2d2d2d
xcalc.ti.button18*foreground: #ffffff
xcalc.ti.button19*background: #2d2d2d
xcalc.ti.button19*foreground: #ffffff
xcalc.ti.button20*background: #2d2d2d
xcalc.ti.button20*foreground: #ffffff
xcalc.ti.button21*background: #2d2d2d
xcalc.ti.button21*foreground: #ffffff
xcalc.ti.button22*background: #1f1f1f
xcalc.ti.button22*foreground: #ffffff
xcalc.ti.button23*background: #525252
xcalc.ti.button23*foreground: #d3d3d3
xcalc.ti.button24*background: #525252
xcalc.ti.button24*foreground: #d3d3d3
xcalc.ti.button25*background: #2d2d2d
xcalc.ti.button25*foreground: #ffffff
xcalc.ti.button26*background: #2d2d2d
xcalc.ti.button26*foreground: #ffffff
xcalc.ti.button27*background: #484848
xcalc.ti.button27*foreground: #d3d3d3
xcalc.ti.button28*background: #484848
xcalc.ti.button28*foreground: #d3d3d3
xcalc.ti.button29*background: #484848
xcalc.ti.button29*foreground: #d3d3d3
xcalc.ti.button30*background: #2d2d2d
xcalc.ti.button30*foreground: #ffffff
xcalc.ti.button31*background: #2d2d2d
xcalc.ti.button31*foreground: #ffffff
xcalc.ti.button32*background: #484848
xcalc.ti.button32*foreground: #d3d3d3
xcalc.ti.button33*background: #484848
xcalc.ti.button33*foreground: #d3d3d3
xcalc.ti.button34*background: #484848
xcalc.ti.button34*foreground: #d3d3d3
xcalc.ti.button35*background: #525252
xcalc.ti.button35*foreground: #d3d3d3
xcalc.ti.button36*background: #2d2d2d
xcalc.ti.button36*foreground: #ffffff
xcalc.ti.button37*background: #484848
xcalc.ti.button37*foreground: #d3d3d3
xcalc.ti.button38*background: #484848
xcalc.ti.button38*foreground: #d3d3d3
xcalc.ti.button39*background: #484848
xcalc.ti.button39*foreground: #d3d3d3
xcalc.ti.button40*background: #525252
xcalc.ti.button40*foreground: #d3d3d3
xcalc.ti.button41*background: #2d2d2d
xcalc.ti.button41*foreground: #ffffff
xcalc.ti.button42*background: #484848
xcalc.ti.button42*foreground: #d3d3d3
xcalc.ti.button43*background: #484848
xcalc.ti.button43*foreground: #d3d3d3
xcalc.ti.button44*background: #484848
xcalc.ti.button44*foreground: #d3d3d3
xcalc.ti.button45*background: #525252
xcalc.ti.button45*foreground: #d3d3d3
xcalc.ti.button46*background: #2d2d2d
xcalc.ti.button46*foreground: #ffffff
xcalc.ti.button47*background: #484848
xcalc.ti.button47*foreground: #d3d3d3
xcalc.ti.button48*background: #484848
xcalc.ti.button48*foreground: #d3d3d3
xcalc.ti.button49*background: #484848
xcalc.ti.button49*foreground: #d3d3d3
xcalc.ti.button50*background: #525252
xcalc.ti.button50*foreground: #d3d3d3
xcalc.ti.button51*background: #2d2d2d
xcalc.ti.button51*foreground: #ffffff
xcalc.ti.button52*background: #484848
xcalc.ti.button52*foreground: #d3d3d3
xcalc.ti.button53*background: #484848
xcalc.ti.button53*foreground: #d3d3d3
xcalc.ti.button54*background: #2d2d2d
xcalc.ti.button54*foreground: #ffffff
xcalc.ti.button55*background: #525252
xcalc.ti.button55*foreground: #d3d3d3

Make communicating with other applications via the clipboard easy
XTerm*selectToClipboard: true
XTerm*font:                     -misc-fixed-medium-r-normal--20-200-75-75-c-100-iso10646-1
XTerm*eightBitInput:            False
XTerm*eightBitOutput:           True
XTerm*SimpleMenu*background:    gray8
XTerm*SimpleMenu*foreground:    gray98

xgammon*foreground:             #e4e4e4
xgammon*background:             #353535
xgammon*Form.background:		#2b2b2b
xgammon*Label.background:		#199ca8
xgammon*Label.foreground:		#e4e4e4
xgammon*Label.resize:			false
xgammon*Command.background:		#199ca8
xgammon*Command.foreground:		#e4e4e4
xgammon*Command.resize:			false
xgammon*MenuButton.background:		#199ca8
xgammon*MenuButton.foreground:		#e4e4e4
xgammon*Menu.background:	#404040
xgammon*text_display.background:	#404040
xgammon*text_display:	#e3e3e3
xgammon*tournament_display.background:	#404040
xgammon*tournament_display:	#e3e3e3
xgammon.boardGeometry:			900x720
xgammon*tournament_display.height:	200
xgammon*text_display.height:		481
xgammon.x:				615
xgammon.y:				342

xbomb*foreground:               #f0f0f0
xbomb*background:               #404040
xbomb*hiscores*foreground:      #f0f0f0
xbomb*hiscores*background:      #404040
xbomb*MenuButton.background:    #199ca8
xbomb*MenuButton.foreground:    #f0f0f0
xbomb*Command.foreground:       #f0f0f0
xbomb*Command.background:       #199ca8
xbomb*hiscore.foreground:       #f0f0f0
xbomb*hiscore.background:       #199ca8
xbomb*grid.background:          #b8b8b8
xbomb*grid.bombmark:            #eed202
xbomb*grid.correct:		        #353535
xbomb*grid.number5:		        OrangeRed
xbomb*grid.number6:		        plum
xbomb.geometry:                 600x720

xosview*geometry:           -12-12
xosview*font:               10x20
xosview*background:         #353535
xosview*foreground:         #f0f0f0
xosview*meterLabelColor:    #f0f0f0
xosview*usedLabelColor:     #f0f0f0

XFontSel*background:        #353535
XFontSel*foreground:        #f0f0f0
XFontSel*quitButton.foreground:       #f0f0f0
XFontSel*quitButton.background:       #199ca8
XFontSel*resetButton.foreground:       #f0f0f0
XFontSel*resetButton.background:       #199ca8
XFontSel*ownButton.foreground:       #f0f0f0
XFontSel*ownButton.background:       #199ca8

XScreenSaver*dateFormat:		%l:%M:%S %p %m/%d/%Y
XScreenSaver*default.Dialog.foreground:			#f0f0f0
XScreenSaver*default.Dialog.background:			#353535
XScreenSaver*default.Dialog.button.foreground:	#e4e4e4
XScreenSaver*default.Dialog.button.background:	#199ca8
XScreenSaver*default.Dialog.logo.background:		#2c2c2c
XScreenSaver*default.Dialog.text.foreground:		#f0f0f0
XScreenSaver*default.Dialog.text.background:		#717171
XScreenSaver*default.Dialog.topShadowColor:		    #050505
XScreenSaver*default.Dialog.bottomShadowColor:		#050505
XScreenSaver*default.Dialog.shadowWidth:			2
XScreenSaver*default.Dialog.thermometer.foreground:	#12737c
XScreenSaver*default.Dialog.thermometer.background:	#199ca8
XScreenSaver*default.Dialog.thermometer.width:	6
XScreenSaver*default.Dialog.borderColor:			#199ca8
XScreenSaver*default.Dialog.borderWidth:			2
XScreenSaver*default.Dialog.internalPadding:		24
